<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/Dawninest/appUpdateTest/master/moffice.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://test.secml.cn/download/wjt/ic_launcher02.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://test.secml.cn/download/wjt/ic_launcher01.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>协同办公</string>
				<key>bundle-version</key>
				<string>3.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>协同办公</string>
				<key>description</key>
				<string>
【新增】私钥密码找回！
【新增】私钥密码修改！
【新增】系统安全性能增加！
【优化】优化送审邮件未读书的显示（退回和待审）！
【优化】智能选择密级的附件，修改密级系统提示！
【优化】客户端下载链接可以根据管理端进行配置！
【优化】优化密保设置的操作，提示正在加载
				</string>
				<key>size</key>
				<string>9.3M</string>
				<key>forceUpdate</key>
				<string>false</string>
				<key>forceUpdateVersion</key>
                <string>2.1.0.0.4</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
