<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/Dawninest/appUpdateTest/master/moffice.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://test.secml.cn/download/wjt/ic_launcher02.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://test.secml.cn/download/wjt/ic_launcher01.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>协同办公</string>
				<key>bundle-version</key>
				<string>1.5.0.0.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>协同办公</string>
				<key>description</key>
				<string>
【新增】推送功能完成
【新增】更新功能完成
【优化】界面优化及Bug处理
				</string>
				<key>size</key>
				<string>9.3M</string>
				<key>forceUpdate</key>
				<string>false</string>
				<key>forceUpdateVersion</key>
				<string>2.1.0.0.4</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
